<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Node Socket Redis Chat App Sign Up</title>

    <!-- CSS
        ========================================== -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel="stylesheet" href="css/style.css">


</head>

<body>
    <div class="row">
        <div class="col s12">
            <nav>
                <div class="nav-wrapper">
                  <a href="#" class="brand-logo"><h1>Node Chat App</h1></a>
                  <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Chat</a></li>
                    <li><a href="#">Sign Out</a></li>
                  </ul>
                </div>
              </nav>
        </div>
    </div>
    <div class="container">

        <div class="join-chat">
            <div class="row">
                <form class="col s6 offset-s3">
                    <div class="row">
                        <div class="input-field col s6">
                            <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                            <label for="first_name">First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="last_name" type="text" class="validate">
                            <label for="last_name">Last Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="user_name" type="text" class="validate">
                            <label for="user_name">User Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" type="password" class="validate">
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email" type="email" class="validate">
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <input type="button" id="join-chat" class="btn" name="" value="Join Chat">
                    </div>
                </form>
            </div>
        </div>
    </div>





    <!-- JS
        ========================================== -->
        <!-- Socket.io -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.2/socket.io.js"></script>

        <!-- Jquery -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

        <!-- Materialize JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

        <!-- Main JS -->
        <script type="text/javascript" src="js/main.js"></script>

</body>

</html>
